* {
  background-color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  box-sizing: border-box;
}

main {
  margin: 30px 400px;
}

#highscore {
  float: left;
  padding-left: 30px;
}

#timer {
  float: right;
  padding-right: 30px;
}

h1 {
  display: relative;
  text-align: center;
  padding-top: 40px;
  color: blueviolet;
}

.answercheck {
  display: none;
}

button {
  background-color: blueviolet;
  color: white;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#game-over {
  display: none;
}


