* {
  background-color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  margin: 30px 400px;
}

#highscore {
  float: left;
  padding-left: 30px;
}

#timer {
  float: right;
  padding-right: 30px;
}

h1 {
  display: relative;
  text-align: center;
  padding-top: 40px;
  color: blueviolet;
}

.answercheck {
  display: none;
}

button {
  background-color: blueviolet;
  color: white;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#quiz-questions-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.answer-btn {
  display: flex;
  flex-direction: column;
  width: 400px;
  font-size: 16px;
  margin: 10px 5px;
  background-color: white;
  color: black;
  border: none;
  padding: 5px;
}

.answer-btn:hover {
  transform: none;
  background-color: #8b7bb0;
}

/* game over screen not displayed until triggered by javascript*/
#game-over {
  display: none;
}
